<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<th:block th:fragment="header">
		<!-- <div class="collapse bg-dark" id="navbarHeader" >
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-md-7 py-4">
						<h4 class="text-white">About</h4>
						<p class="text-muted">Sitio desarrollado para el personal de
							HITO</p>
					</div>
					<div class="col-sm-4 offset-md-1 py-4">
						<h4 class="text-white">Bienvenido</h4>
						<ul class="list-unstyled">
							<li><a href="https://www.facebook.com/Financiera.HiTO"
								class="text-white">Facebook</a></li>
							<li>
								<span sec:authorize="isAuthenticated()==True" style="display: inline-block;" class="text-white">
                    Usuario: 
                	<span th:text="${#request.userPrincipal.principal.getContext().getStringAttribute('CN')}"></span> |
                    <span th:text="${#request.userPrincipal.principal.getContext().getStringAttribute('mail')}"></span>
                  
                  </span>
                  
							</li>
							<li><a th:href="@{/logout}" class="text-white">Salir</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div> -->

		<div sec:authorize=”isAuthenticated()”>

			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">AM SHF</a>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav me-auto mb-2 mb-lg-0">
							<li class="nav-item"><a class="nav-link active"
								aria-current="page" th:href="@{/}">Home</a></li>
								
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" 
								id="navbarDropdown" role="button" data-bs-toggle="dropdown"
								aria-expanded="false"> Administracion </a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" th:href="@{/cartera/}">Carteras</a></li>
									<li><a class="dropdown-item"
										th:href="@{/cartera/getCatalogos/}">Catalogos</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#"></a></li>
								</ul></li>

							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" 
								id="navbarDropdown" role="button" data-bs-toggle="dropdown"
								aria-expanded="false"> Penalizaciones </a>
								<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
									<li><a class="dropdown-item" th:href="@{/penalizaciones/}">Generar penalizacion</a></li>
								</ul></li>
							
							

							<li class="nav-item"><a class="nav-link disabled" href="#"
								tabindex="-1" aria-disabled="true">Disabled</a></li>
						</ul>
						<form class="d-flex">
							<input class="form-control me-2" type="search"
								placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
					</div>
				</div>
			</nav>
		</div>
	</th:block>
</body>
</html>